volumes:
  postgresql_data:

services:
  postgresql:
    image: postgres:16
    container_name: postgresql
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    ports:
      - "8025:8025"
      - "1025:1025"

  api:
    container_name: api
    build:
      context: ./api
    command: bash -c "uv run manage.py migrate && uv run manage.py collectstatic --no-input && uv run manage.py runserver 0.0.0.0:8000"
    restart: on-failure
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.development
      DJANGO_DATABASE_URL: postgres://postgres:postgres@postgresql:5432/postgres
      DJANGO_EMAIL_PROVIDER: smtp
      DJANGO_EMAIL_HOST: mailpit
      DJANGO_EMAIL_PORT: 1025
    ports:
      - "8000:8000"
    depends_on:
      - postgresql
      - mailpit
    volumes:
      - ./api:/app
      - /app/.venv

  dashboard:
    build:
      context: dashboard
    container_name: dashboard
    restart: unless-stopped
    depends_on:
      - api
    volumes:
      - ./dashboard:/app
    ports:
      - "5173:5173"
