{% load static %}
{% load djmoney %}
{% load i18n %}
{% load l10n %}

{% language document.language %}
    <!DOCTYPE html>
    <html lang="{{ document.language }}">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'css/pdf/classic.css' %}">
        <title>{% trans "invoice.pdf.title" %}</title>
    </head>
    <body>
    <main>
        <header class="header">
            <h1 class="title">
                {% if invoice.previous_revision %}
                    {% trans "invoice.pdf.corrective_title" %}
                {% else %}
                    {% trans "invoice.pdf.title" %}
                {% endif %}
            </h1>
            {% if invoice.account.logo %}
                <img
                        src="data:{{ invoice.account.logo.content_type }};base64,{{ invoice.account.logo.base64 }}"
                        alt="{% trans "invoice.pdf.logo_alt" %}"
                        style="max-height: 32px;"
                />
            {% else %}
                <div style="font-size:12px">{{ invoice.account.name }}</div>
            {% endif %}
        </header>

        <section class="info">
            <div>
                <p>
                    <span class="info-label">{% trans "invoice.pdf.number" %}:</span>
                    <span class="info-value">{{ invoice.effective_number }}</span>
                </p>
                {% if invoice.previous_revision %}
                    <p>
                        <span class="info-label">{% trans "invoice.pdf.corrects_invoice" %}:</span>
                        <span class="info-value">{{ invoice.previous_revision.effective_number }}</span>
                    </p>
                {% endif %}
                {% if invoice.issue_date %}
                    <p>
                        <span class="info-label">{% trans "invoice.pdf.issue_date" %}:</span>
                        <span class="info-value">{{ invoice.issue_date|date:"j E, Y"|localize }}</span>
                    </p>
                {% endif %}
                {% if invoice.previous_revision and invoice.previous_revision.issue_date %}
                    <p>
                        <span class="info-label">{% trans "invoice.pdf.original_issue_date" %}:</span>
                        <span class="info-value">{{ invoice.previous_revision.issue_date|date:"j E, Y"|localize }}</span>
                    </p>
                {% endif %}
            </div>
            <div>
                {% for key, value in document.custom_fields.items %}
                    <p>
                        <span class="info-label">{{ key }}:</span>
                        <span class="info-value">{{ value }}</span>
                    </p>
                {% endfor %}
            </div>
        </section>

        <section class="parties">
            <section class="party party-account">
                <h2 class="party-title">{% trans "invoice.pdf.from" %}</h2>
                <p class="party-detail">
                    {{ invoice.business_profile.legal_name|default:invoice.account.name }}
                </p>
                {% if invoice.business_profile.legal_number %}
                    <p class="party-detail">
                        <span>{{ invoice.business_profile.legal_number }}</span>
                    </p>
                {% endif %}
                <address class="party-detail">
                    {% include "address.html" with address=invoice.business_profile.address %}
                </address>
                <p class="party-detail">
                    {% if invoice.business_profile.email %}
                        <span>{{ invoice.business_profile.email }}</span>
                    {% endif %}
                </p>
                {% for tax_id in invoice.business_profile.tax_ids.all %}
                    <p class="party-detail">
                        <span>{{ tax_id.display_name }}: {{ tax_id.number }}</span>
                    </p>
                {% endfor %}
            </section>

            <section class="party party-customer">
                <div class="party-columns">
                    <div>
                        <h2 class="party-title">{% trans "invoice.pdf.bill_to" %}</h2>
                        <p class="party-detail">
                            {{ invoice.billing_profile.legal_name|default:invoice.customer.name }}
                        </p>
                        {% if invoice.billing_profile.legal_number %}
                            <p class="party-detail">
                                <span>{{ invoice.billing_profile.legal_number }}</span>
                            </p>
                        {% endif %}
                        <address class="party-detail">
                            {% include "address.html" with address=invoice.billing_profile.address %}
                        </address>
                        <p class="party-detail">
                            {% if invoice.billing_profile.email %}
                                <span>{{ invoice.billing_profile.email }}</span>
                            {% endif %}
                        </p>
                        {% for tax_id in invoice.billing_profile.tax_ids.all %}
                            <p class="party-detail">
                                <span>{{ tax_id.display_name }}: {{ tax_id.number }}</span>
                            </p>
                        {% endfor %}
                    </div>
                    {% if invoice.shipping %}
                        <div>
                            <h2 class="party-title">{% trans "invoice.pdf.ship_to" %}</h2>
                            {% if invoice.shipping.profile and invoice.shipping.profile.name %}
                                <p class="party-detail">
                                    {{ invoice.shipping.profile.name }}
                                </p>
                            {% endif %}
                            {% if invoice.shipping.profile and invoice.shipping.profile.phone %}
                                <p class="party-detail">
                                    <span>{{ invoice.shipping.profile.phone }}</span>
                                </p>
                            {% endif %}
                            {% if invoice.shipping.profile and invoice.shipping.profile.address %}
                                <address class="party-detail">
                                    {% include "address.html" with address=invoice.shipping.profile.address %}
                                </address>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </section>
        </section>

        <section class="total">
            <p class="total-amount">
                {% money_localize invoice.total_amount %}
            </p>
            <p class="total-due">
                {% trans "invoice.pdf.due" %} {{ invoice.effective_due_date|date:"j E, Y"|localize }}
            </p>
        </section>

        <section class="lines">
            <table class="table">
                <thead>
                <tr>
                    <th style="width:40%; text-align: start">{% trans "invoice.pdf.description" %}</th>
                    <th style="width:10%; text-align: end">{% trans "invoice.pdf.quantity" %}</th>
                    <th style="width:{% if invoice.has_line_taxes %}20%{% else %}25%{% endif %};text-align: end">
                        {% trans "invoice.pdf.price" %}
                    </th>
                    {% if invoice.has_line_taxes %}
                        <th style="width:15%; text-align: end">{% trans "invoice.pdf.tax" %}</th>
                    {% endif %}
                    <th style="width:{% if invoice.has_line_taxes %}15%{% else %}25%{% endif %}; text-align: end;">
                        {% trans "invoice.pdf.amount" %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for line in invoice.lines.all %}
                    <tr>
                        <td class="line-description">{{ line.description }}</td>
                        <td class="line-quantity">{{ line.quantity }}</td>
                        <td class="line-price">
                            {% money_localize line.unit_amount %}
                        </td>
                        {% if line.tax_rates.exists %}
                            <td class="line-tax">
                                {{ line.total_tax_rate|floatformat:"-2" }}%
                            </td>
                        {% endif %}
                        <td class="line-total" style="text-align: end">
                            {% money_localize line.amount %}
                        </td>
                    </tr>
                    {% for discount in line.discounts %}
                        <tr>
                            <td class="line-description" style="padding-left:20px;">{{ discount.name }}</td>
                            <td></td>
                            <td></td>
                            {% if line.tax_rates.exists %}
                                <td></td>
                            {% endif %}
                            <td class="line-total line-discount" style="text-align: end">
                                -{% money_localize discount.amount %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="summary">
            <dl class="summary-group">
                <div class="sum-row">
                    <dt class="sum-label">{% trans "invoice.pdf.subtotal" %}</dt>
                    <dd class="sum-value">{% money_localize invoice.subtotal_amount %}</dd>
                </div>
                {% for discount in invoice.discounts %}
                    <div class="sum-row">
                        <dt class="sum-label">{{ discount.name }}</dt>
                        <dd class="sum-value sum-discount">-{% money_localize discount.amount %}</dd>
                    </div>
                {% endfor %}
                {% if invoice.shipping %}
                    <div class="sum-row">
                        <dt class="sum-label">{% trans "invoice.pdf.shipping_fee" %}</dt>
                        <dd class="sum-value">{% money_localize invoice.shipping_amount %}</dd>
                    </div>
                {% endif %}
                <div class="sum-row">
                    <dt class="sum-label">{% trans "invoice.pdf.total_excluding_tax" %}</dt>
                    <dd class="sum-value">{% money_localize invoice.total_excluding_tax_amount %}</dd>
                </div>
                {% for tax in invoice.total_taxes %}
                    <div class="sum-row">
                        <dt class="sum-label">{{ tax.name }} {{ tax.percentage|floatformat:"-2" }}%</dt>
                        <dd class="sum-value">{% money_localize tax.amount %}</dd>
                    </div>
                {% endfor %}
                <div class="sum-row">
                    <dt class="sum-label">{% trans "invoice.pdf.total" %}</dt>
                    <dd class="sum-value">{% money_localize invoice.total_amount %}</dd>
                </div>
            </dl>
        </section>
    </main>

    <footer>
        <hr class="divider"/>
        {% if document.footer %}
            <div>
                {{ document.footer | linebreaks }}
            </div>
        {% endif %}
    </footer>

    </body>
    </html>
{% endlanguage %}
